# Misc
node_modules
.DS_Store
yarn-error.log
/.idea
*.tgz
dist
/*/*/config
/*/*/coverage
**/test-results

# TypeScript incremental build cache
**/*.tsbuildinfo
**/.turbo

# SSL
localhost-key.pem
localhost.pem
